<div class="jumbotron">
    <h1>Não Conformidade</h1>
    <a href="#/painel" class="btn btn-primary">Painel de controle</a>
    <a href="#/avaliacao/{{reg.reg_id}}" class="btn btn-default" ng-if="reg.reg_id">Avaliação do Evento</a>
</div>

<div ng-if="message.texto" class="alert {{message.class}}">
    {{message.texto}}
</div>

<div ng-include="urlMessage"></div>

<div ng-if="carregando">
    <img ng-src="{{gifLoad}}">
</div>

<form name="registroForm" style="margin-bottom: 25px;" ng-submit="save(reg)" ng-show="!carregando && !message.status">

    <script type="text/javascript">
                $(document).ready(function () {
                    $('#example-multiple-optgroups').multiselect();
                    $('#multiple-selected').multiselect();
                });
    </script>

    <div class="well">

        <label>Origem do evento:</label>
        <div class="form-group" ng-if="!reg.disabled">
            <ul class="list-group" ng-model="origem" ng-require="true" >
                <a id="origem_{{origem.origem_id}}}" href="" class="list-group-item col-md-3" style="float: left; text-align: center; min-height: 70px;"
                   title="{{origem.origem_title}}" ng-repeat="origem in origens" ng-click="addOrigem(origem)" ng-class="activeItem(origem)"
                   >{{origem.origem_title}}</a>
            </ul>
        </div>

        <div class="form-group" ng-if="reg.disabled">
            <ul class="list-group">
                <li class="list-group-item col-md-3" style="float: left; text-align: center;" ng-repeat="origem in reg.origens">{{origem.origem_title}}</li>
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <label>Outros:</label>
            <input type="text" class="form-control" name="reg_origem_outros" ng-model="reg.reg_origem_outros" ng-disabled="reg.disabled"/>
        </div>
    </div>

    <div class="well">

        <div class="form-group" ng-if="!reg.disabled">
            <label>Anexo:</label>
            <input class="form-control" type="file" ngf-select="onFileSelect(uploads)" multiple="true" ng-model="uploads" ng-disabled="reg.disabled"/>
        </div>


        <div class="form-group row" ng-if="reg.images.length > 0">
            <label>Imagens:</label>
            <div class="row">
                <div class="col-md-2" ng-repeat="img in reg.images" ng-if="reg.disabled">
                    <a href="" data-toggle="modal" data-target="#{{img.image_id}}">
                        <img src="/intranet/uploads/{{img.image_url}}" alt="{{img.image_name}}" class="img-responsive img-thumbnail" style="height: 105px; float: left; margin-left: 15px;"/>
                    </a>
                    <div id="{{img.image_id}}" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <img src="/intranet/uploads/{{img.image_url}}" alt="{{img.image_name}}" class="img-responsive img-thumbnail"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-2" ng-repeat="img in reg.images" ng-if="!reg.disabled">
                    <img src="{{img.TYNY}}"  alt="{{img.FILE.name}}" class="img-responsive img-thumbnail" style="height: 105px">
                    <a href="" class="del" title="remover" ng-click="removeFile(img)">remover</a>
                </div>
            </div>
        </div>

        <div class="form-group row" ng-if="reg.files.length > 0">
            <label>Arquivos:</label>
            <ul ng-if="reg.disabled">
                <div  ng-repeat="file in reg.files">
                    <a href="/intranet/uploads/{{file.file_url}}" title="{{file.file_name}}" target="_black" 
                       class="list-group-item col-md-3" style="float: left; text-align: center; height: 60px; overflow: hidden;">
                        {{file.file_name}}
                    </a>
                </div>
            </ul>

            <ul class="list-group" ng-if="!reg.disabled">
                <li ng-repeat="file in reg.files" class="list-group-item col-md-3" style="float: left; text-align: center; height: 60px; overflow: hidden;">
                    {{file.FILE.name}}<a href="" class="del" title="remover" ng-click="removeFile(file)">remover</a>
                </li>
            </ul>
        </div>

        <div class="progress" ng-if="!reg.disabled">
            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 1%;"></div>
        </div>

    </div>

    <div class="well">
        <div class="form-group">
            <label>Descrição:</label>
            <textarea class="form-control" rows="3" name="reg_descricao" placeholder="Descrição do ocorrido" ng-model="reg.reg_descricao" ng-required="true" ng-minlength="10" ng-disabled="reg.disabled"></textarea>
        </div>

        <div class="form-group">
            <label class="btn btn-primary">
                Houve impacto para o paciente ? 
                <input type="checkbox" autocomplete="off" name="reg_impacto_paciente" ng-model="reg.reg_impacto_paciente" ng-disabled="reg.disabled"> 
            </label>
        </div>
    </div>

    <div class="well">
        <div class="col-md-4 form-group" ng-show="!reg.disabled">
            <label>Encontre o setor</label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" class="form-control" name="area_search" ng-model="area_search"/>
            </div>
        </div>

        <div class="col-md-8 form-group">
            <label>Aréa Resposável</label>
            <div class="form-control">
                {{reg.area.area_title}}
            </div>
        </div>
        
        <table class="table table-hover table-striped table-responsive" ng-if="area_search">
            <thead>
                <tr>
                    <th>Nome do setor</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="area in areas| filter:area_search | limitTo: 5">
                    <td><a class="btn" ng-click="addArea(area)">{{area.area_title}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <div class="col-md-4 form-group" ng-show="!reg.disabled">
            <label>Encontre o usuário</label>
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-search"></span>
                <input type="text" class="form-control" name="user_search" ng-model="user_search"/>
            </div>
        </div>

        <div class="col-md-8 form-group">
            <label>Usuário responsável:</label>
            <div class="form-control">
                {{reg.user.user_name}} {{reg.user.user_lastname}}
            </div>
        </div>

        <table class="table table-hover table-striped table-responsive" ng-if="user_search">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="user in users| filter:user_search | limitTo:5">
                    <td><a class="btn" ng-click="addUser(user)">{{user.user_nickname}}</a></td>
                    <td><a class="btn" ng-click="addUser(user)">{{user.user_name}}</a></td>
                    <td><a class="btn" ng-click="addUser(user)">{{user.user_lastname}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="well">
        <div class="form-group">
            <label>Correção Imediata:</label>
            <textarea class="form-control" rows="3" name="reg_correcao_imediata" placeholder="Correção imediata" ng-model="reg.reg_correcao_imediata" ng-required="true" ng-minlength="10" ng-disabled="reg.disabled"></textarea>
        </div>

        <div class="form-group col-md-6">
            <label>Responsável pela execução da açao:</label>
            <input type="text" class="form-control" name="reg_user_correcao" ng-model="reg.reg_user_correcao" ng-required="true" ng-minlength="5" ng-disabled="reg.disabled"/>
        </div>

        <div class="form-group  col-md-6">
            <label>Data da ação corretiva:</label>
            <div ng-if="reg.disabled" style="padding: 7px; border: 1px solid #CCC">
                {{reg.reg_date_correcao| dateBr}}
            </div>
            <input type="text" class="form-control formDate" name="reg_date_correcao" ng-model="reg.reg_date_correcao" ng-required="true" ng-minlength='10' ng-if="!reg.disabled"/>
        </div>
    </div>
    <hr>
    <div class="btn-group" ng-if="!reg.disabled">
        <input class="btn btn-success" style="width: 200px;" type="submit" value="Salvar" name="SendPostForm" ng-disabled="registroForm.$invalid || origemValid() || !reg.user || !reg.area"/>
    </div>
</form>
