/*
    Less 
    @copyrigth S. Reis, Adriano 2016
*/
.reset * {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.2;
}
/*MENSAGENS DO SISTEM*/
.trigger {
  padding: 15px 15px 15px 40px;
  background: #eee;
  font-size: 14px;
  margin-bottom: 15px;
}
.trigger a {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;
  background: #069;
  color: #fff;
}
.trigger a:hover {
  background: #09f;
  color: #fff;
}
/*HELPER CLASS*/
/*/accept.png*/
.del {
  position: absolute;
  background: #900;
  right: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
}
.del {
  text-transform: uppercase;
  color: #fff;
  font-size: 0;
  background: url("/intranet/themes/intranet/icons/logout.png") center center no-repeat;
}
.del:hover {
  background-color: red;
}
.accept {
  background: #71ca73 url("/intranet/themes/intranet/icons/accept.png") center left 10px no-repeat;
}
.infor {
  background: #c8dbfd url("/intranet/themes/intranet/icons/infor.png") center left 10px no-repeat;
}
.alerte {
  background: #faf7b7 url("/intranet/themes/intranet/icons/alert.png") center left 10px no-repeat;
}
.error {
  background: #ffafaf url("/intranet/themes/intranet/icons/error.png") center left 10px no-repeat;
}
.info {
  font-size: 1.4em;
  margin-bottom: 2%;
  font-family: cursive;
  color: #09f;
}
.radius {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/*POST ACTION*/
.post_actions {
  float: left;
  width: 298px;
  font-size: 12px;
  list-style: none;
}
.post_actions li {
  float: left;
  margin-right: 6px;
}
.post_actions li a {
  background: #ccc;
  text-transform: uppercase;
  font-size: 10px;
  color: #333;
  width: 25px;
  height: 25px;
  float: left;
  font-size: 0;
}
.post_actions li a:hover {
  background-color: #09f;
  color: #fff;
}
.post_actions li .act_view {
  background: #eee url("/intranet/themes/intranet/icons/act_view.png") center center no-repeat;
}
.post_actions li .act_edit {
  background: #eee url("/intranet/themes/intranet/icons/act_edit.png") center center no-repeat;
}
.post_actions li .act_ative {
  background: #eee url("/intranet/themes/intranet/icons/act_ative.png") center center no-repeat;
}
.post_actions li .act_inative {
  background: #eee url("/intranet/themes/intranet/icons/act_inative.png") center center no-repeat;
}
.post_actions li .act_delete {
  background: #eee url("/intranet/themes/intranet/icons/act_delete.png") center center no-repeat;
}
.post_actions li .act_accept {
  background: #eee url("/intranet/themes/intranet/icons/accept.png") center center no-repeat;
}
.post_actions li:last-child {
  margin: 0;
}
.post_tipo {
  width: 298px;
  font-size: 12px;
}
.plugin {
  width: auto !important;
  margin: 0px !important;
  padding: 0px !important;
}
/*SYSTEM NAV*/
.systema_nav {
  float: right;
  padding: 20px 5px 10px;
  background: #006699;
  position: relative;
  top: -10px;
}
.systema_nav * {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.2;
}
.systema_nav li {
  float: left;
}
.systema_nav li a {
  float: left;
  margin: 0 15px;
  width: 30px;
  height: 30px;
  font-size: 0;
}
.systema_nav li a:hover {
  background-color: #09f;
}
.systema_nav li .profile {
  background: url("/intranet/themes/intranet/icons/profile.png") center center no-repeat;
}
.systema_nav li .users {
  background: url("/intranet/themes/intranet/icons/users.png") center center no-repeat;
}
.systema_nav li .admin {
  background: url("/intranet/themes/intranet/icons/e_view.png") center center no-repeat;
}
.systema_nav li .logout {
  background: url("/intranet/themes/intranet/icons/logout.png") center center no-repeat;
}
.systema_nav li .badge {
  background: #66a3c1;
  font-size: 1em;
  font-family: cursive;
  padding: 7px;
  color: #FFF;
}
.systema_nav li .icon {
  background-size: 80%;
}
.systema_nav .username {
  float: left;
  font-variant: small-caps;
  color: #fff;
  padding: 15px;
}
.systema_nav .username .item {
  clear: both;
  float: left;
}
.systema_nav .avatar {
  background: url("/intranet/themes/intranet/images/avatar.png") center center no-repeat;
  background-size: 90px 90px;
  font-size: 0;
  width: 90px;
  height: 90px;
}
/*MENU TAB*/
#navtab {
  width: 100%;
  height: 70px;
  position: relative;
  margin-bottom: 50px;
  padding-left: 35px;
  background: url("/intranet/themes/intranet/images/header_bg.png") repeat-x #fbfbfb;
}
#navtab * {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.2;
}
#navtab nav {
  width: 968px;
  display: block;
  float: left;
  position: absolute;
  bottom: 0px;
}
#navtab nav a {
  text-decoration: none;
}
#navtab nav h1 {
  float: left;
  font-size: 18px;
  background: #F2F2F2;
  margin-right: 15px;
  border-bottom: 1px solid #F2F2F2;
}
#navtab nav h1 a {
  color: #09f;
  padding: 11px 26px 11px 26px;
  float: left;
}
#navtab nav h1 a:hover {
  background: #09f;
  color: #fff;
}
#navtab nav ul {
  float: left;
  margin-top: 6px;
}
#navtab nav ul .li {
  float: left;
  margin-right: 5px;
  position: relative;
}
#navtab nav ul .li .opensub {
  float: left;
  padding: 10px 20px;
  color: #fff;
  background: #005875;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #777777;
}
#navtab nav ul .li .opensub:hover {
  background: #F2F2F2;
}
#navtab nav ul .li .sub {
  position: absolute;
  top: 33px;
  width: 400px;
  display: none;
}
#navtab nav ul .li .sub li {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
}
#navtab nav ul .li .sub li a {
  float: left;
  font-weight: bold;
  color: #999;
  padding: 17px 10px;
}
#navtab nav ul .li .sub li a:hover {
  color: #333;
}
#navtab nav ul li:hover .opensub {
  background: #F2F2F2;
  color: #333;
}
#navtab nav ul li:hover .sub {
  display: block;
}
#navtab nav ul .li:last-child {
  margin: 0;
}
#navtab nav ul .active .opensub {
  background-color: #F2F2F2 !important;
  color: #333 !important;
}
.panel {
  border-top: 1px solid #ccc;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 40px 25px;
}
/*BOTOES EM IMAGENS*/
.img-block {
  position: relative;
}
.img-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.img-icon:hover {
  width: 45px;
  height: 45px;
}
.ftp-icon {
  overflow: hidden;
  font-size: 0.9em;
}
.ftp-icon:hover {
  overflow: visible;
}
/*404*/
.page_notfound header {
  text-align: center;
}
.page_notfound .notfounerror {
  width: 400px;
  font-family: 'Baumans', cursive;
  color: #eee;
  font-size: 140px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.page_notfound header h1 {
  font-family: 'Baumans', cursive;
  font-size: 50px;
  color: #FF6A6A;
}
.page_notfound header p {
  font-family: 'Baumans', cursive;
  font-size: 16px;
  color: #666;
}
/*CARDS*/
.nivercard * {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.2;
}
.nivercard .img {
  background: url("/intranet/themes/intranet/images/cabecalhos/parabens.jpg") no-repeat;
  opacity: 0.35;
  -moz-opacity: 0.35;
  filter: alpha(opacity=35);
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  left: 0;
}
.nivercard .table {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.nivercard .table th {
  text-align: center;
}
.bodered {
  border: solid 1px #808080;
  box-shadow: #808080 2px 2px 1px;
}
/*Mixins*/
/*Mixins end*/
/*BODY*/
.notitle {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.logo {
  width: 200px;
  height: auto;
}
.copy {
  text-align: center;
  font-size: 0.9em;
}
.copy a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}
.footer {
  padding: 2%;
  margin: 0;
}
.siderbar {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*TEXTOS*/
.text-branco {
  color: white;
}
.title-page {
  float: right;
  font-size: 1.6em;
  margin-bottom: 0;
  padding-bottom: 0;
}
/*DIVISORES*/
.divbloco {
  height: 10px;
  margin: 10px;
}
/*BACKGROUND*/
.bg-branco {
  background: #fff;
}
.bg-sucesso {
  background: #139061;
}
/*ARTIGOS*/
.artigos {
  text-align: center;
}
.artigos header imagem {
  clear: both;
}
.artigos header h1 {
  font-size: 2em;
  margin: 15px !important;
  color: #337cbb;
}
.artigos p {
  font-size: 0.9em;
}
.artigos time {
  font-size: 0.8em;
  color: #999;
}
.artigos .relacionados {
  background-color: #54D8FF !important;
  color: #ffffff;
}
.artigos .relacionados time {
  color: #000;
}
/*AO IMPRIMIR*/
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .print {
    display: block !important;
  }
  .print table {
    border: 2px solid #09f;
  }
}
/*ESTILOS*/
.shadow-right:hover {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15));
}
.shadow-left:hover {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.15));
}
.shadow-bottom:hover {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
}
.shadow-top:hover {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.15));
}
/*BORDAs*/
.border-thin {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.textosombra {
  color: transparent;
  text-shadow: 0 0 5px #999;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.textosombra:hover {
  color: #999;
  text-shadow: none;
}
.form input,
.form select {
  margin-top: 5px;
}
/*# sourceMappingURL=default.css.map */