<article class="col-md-12">
    <h2><a href="" ng-click="openView('todos')" title="Click para voltar">Recebidos <small>fechados</small></a></h2>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>COD ID</th>
                <th>Descrição</th>
                <th>Data Abertura</th>
                <th>Data Correção</th>
                <th>Usuário Abertura</th>
                <th>Usuário Responsável</th>
                <th>Setor Responsável</th>
                <th>Imp. Pac.</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="reg in registros| filter:{reg_finalizado:'1'} | userOrSetorRecebido:userlogin">
                <td><a href="" ng-click="openRegistro(reg)">{{reg.reg_id}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.reg_descricao| maxlength:20}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.reg_date_cadastro| timestampBr  | maxlength:10}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.reg_date_correcao| timestampBr  | maxlength:10}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.user_cadastro.user_name + " " + reg.user_cadastro.user_lastname| name | maxlength:20}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.user_recebimento.user_name + " " + reg.user_recebimento.user_lastname| name | maxlength:20}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{reg.setor_recebimento.setor_content| name | maxlength:20}}</a></td>
                <td><a href="" ng-click="openRegistro(reg)">{{(reg.reg_impacto_paciente === '1' ? "sim" : 'não')}}</a></td>
            </tr>
        </tbody>
    </table>
</article>