<div ng-include="'/intranet/include/nao-conformidade/partials/admin/menu.html'"></div>
<div ng-include="'/intranet/include/nao-conformidade/partials/admin/dashboard/menu.html'"></div>

<section class="col-md-10">

    <div class="page-header">
        <h1>DASHBOARD<small>Eventos {{tipo.title}}</small></h1>
    </div>

    <div style="float: left;">
        <label>Total de eventos</label>
        <select ng-model="limit">
            <option value="null">Todos</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="500">500</option>
        </select>
    </div>

    <div style="float: right; margin-bottom: 15px;">
        <button class="btn btn-primary" ng-click="listTipo()" ng-show="!tipo.status">Todos os Registros</button>
        <button class="btn btn-success" ng-click="listTipo()" ng-show="tipo.status">Apenas Registros abertos</button>
    </div>

    <div class="clearfix"></div>

    <div class="input-group" style="margin-bottom: 15px;">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input class="form-control" type="text" ng-model="search" placeholder="pesquisa"/>
    </div>

    <table class="table table-hover table-striped table-responsive">
        <thead>
            <tr class="danger">
                <th title="Número do registro">Reg ID</th>
                <th title="Impacto ao paciente">IP</th>
                <th title="Data do cadastro">DATA</th>
                <th title="Usuário que recebeu">USER</th>
                <th title="Primeiro nome de quem recebeu">NOME</th>
                <th title='Sobrenome de quem recebeu'>SOBRE NOME</th>
                <th title='Setor responsável pelo evento'>SETOR</th>
                <th title='Usuário que registrou o evento'>ABERTO POR</th>
                <th title='Usuário que registrou o evento'>SITUAÇÃO</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reg in list | filter:search | orderBy:reg.reg_date_cadastro:true | limitTo:limit track by reg.reg_id">
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.reg_id}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::(reg.reg_impacto_paciente == '1' ? "sim" : "não")}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.reg_date_cadastro|timestampBr}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.recebido_nickname}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.recebido_name}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.recebido_lastname}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.area_title}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::reg.cadastro_nickname}}</a></td>
                <td><a href="#/admin/registro/{{::reg.reg_id}}">{{::(reg.reg_finalizado == '1' ? "FINALIZADO" : "ABERTO")}}</a></td>
            </tr>
        </tbody>
    </table>
</section>