<h1>Itens de Acesso</h1>

<ul id="menu1" class="menu_list blue-default column-3">
    <li class="header">TITULO</li>
    <li class="item" ng-repeat="acesso in acessos| filter:{
                        acesso_parent:null
                    }">
        <a href="" ng-click="submenu(acesso)" title="{{acesso.acesso_content}}">{{acesso.acesso_title}}</a>
    </li>
</ul>

<ul id="menu2" class="menu_list blue-default column-3">
    <li class="header">SUBMENU</li>
    <li class="item" ng-repeat="acesso in submenu1">
        <a href="" ng-click="submenu2(acesso)" title="{{acesso.acesso_content}}">{{acesso.acesso_title}}</a>
    </li>
</ul>

<ul id="menu3" class="menu_list blue-default column-3">
    <li class="header">SUBTITULO 2</li>
    <li class="item"><a href="">first</a></li>
</ul>

<div class="clear"></div>