<h1>Itens de Acesso</h1>

<div ng-show="carregando">
    <img src="css/carregando.gif">
</div>

<ul class="blue-default menu_list column-3">
    <li class="item bouncy-slide-left"  ng-class="item.class" ng-repeat="item in list track by $index"><a href="" ng-click="menu(item)">{{item.acesso_title}}</a></li>
</ul>

<ul class="blue-default menu_list column-3">
    <li class="item bouncy-slide-left" ng-repeat="item in list2 track by $index" ><a href="" ng-click="menu2(item)">{{item.acesso_title}}</a></li>
</ul>

<ul class="blue-default menu_list column-3">
    <li class="item bouncy-slide-left" ng-repeat="item in list3 track by $index" ><a href="">{{item.acesso_title}}</a></li>
</ul>

<div class="clear"></div>
