<div class="content form_create">

    <article>

        <header>
            <h1>Criar Acesso</h1>
        </header>
        
        <div ng-if="carregando">
            <img ng-src="{{carregando}}">
        </div>
        
        <div class="trigger accept" ng-if="message">
            {{message}}
        </div>
        
        <form name="PostForm" ng-submit="salvar(acesso)" ng-if="!carregando">
            <label class="label">
                <span class="field">Titulo:</span>
                <input type="text" name="category_title" ng-model="acesso.acesso_title" placeholder="titulo do acesso"/>
            </label>

            <label class="label">
                <span class="field">Conteúdo:</span>
                <textarea name="category_content" rows="5" ng-model="acesso.acesso_content" placeholder="Descrição do acesso"></textarea>
            </label>

            <div class="label_line">

                <label class="label_small">
                    <span class="field">Tag:</span>
                    <input type="text" class="center" name="acesso_tag" value="" placeholder="Ex.: Fast-exames" ng-model="acesso.acesso_tag"/>
                </label>

                <label class="label_small">
                    <span class="field">Data:</span>
                    <input type="text" class="center" name="acesso_date" value="" ng-model="acesso.acesso_date" placeholder="dd/mm/aaaa hh:mm:ss" ui-timestampbr/>
                </label>

                <label class="label_small">
                    <span class="field">Seção:</span>
                    <select name="category_parent" ng-model="acesso.acesso_parent" 
                            ng-options="secao.acesso_id as secao.acesso_title group by secao.acesso_tag for secao in secoes">
                        <option value=""> Selecione a Seção: </option>
                    </select>
                </label>
            </div>

            <div class="gbform"></div>

            <input type="submit" class="btn green" value="Salvar Acesso" />
            <a href="painel.php?exe=acessos/index#/" class="btn default">voltar</a>
        </form>

    </article>

    <div class="clear"></div>
</div> <!-- content home -->