<div class="content cat_list">

    <section>
        
        <h1>Acessos:</h1>

        <section ng-repeat="acesso in acessos | filter:{acesso_parent:null}">
            
            <header>
                <h1>{{acesso.acesso_title}}  <span> </span></h1>
                <p class="tagline">{{acesso.acesso_content}}</p>
                <ul class="info post_actions">
                    <li><strong>Data:</strong>{{acesso.acesso_date | timestampBr | limitTo:16}} Hs</li>
                    <li><a class="act_edit" href="painel.php?exe=acessos/index#/update/{{acesso.acesso_id}}" title="Editar">Editar</a></li>
                    <li><a class="act_ative" href="" title="Desativar" ng-click="status(acesso)">Deletar</a></li>
                    <li><a class="act_inative" href="" title="Desativar">Deletar</a></li>
                </ul>
            </header>

            <h2>Sub acessos:</h2>

            <article ng-repeat="subacessos in acessos|filter:{acesso_parent:acesso.acesso_id}:true" style="height: 200px;">
               
                <h1><a target="_blank" href="../categoria/<?= $sub->category_name; ?>" title="Ver Categoria">{{subacessos.acesso_title}}</a></h1>
                <ul class="info post_actions">
                    <li><strong>Data:</strong>{{subacessos.acesso_date | timestampBr | limitTo:16}} Hs</li>
                    <li><a class="act_edit" href="painel.php?exe=categories/update&catid=<?= $sub->category_id; ?>" title="Editar">Editar</a></li>
                    <li><a class="act_delete" href="painel.php?exe=categories/index&delete=<?= $sub->category_id; ?>" title="Excluir">Deletar</a></li>
                </ul>
                
                <h3><small>ITENS</small></h3>
                <ul ng-repeat="item in acessos|filter:{acesso_parent:subacessos.acesso_id}:true">                    
                    <li><p class="post_views"><strong>{{item.acesso_title}}</strong>: {{item.acesso_content}}</p></li>
                </ul>
            </article>

        </section>

        <div class="clear"></div>
    </section>
</div> <!-- content home -->