<section class="section">
    <h1><span class="label label-default">Equipamentos</span></h1>

    <div>
        <a class="btn btn-primary" href="#/equipamento">Novo Equipamento</a>
        <p class="text-muted" ng-show="equipamentos.length > 0">Total de equipamentos: {{equipamentos.length}}</p>
        <p class="text-danger" ng-hide="equipamentos.length > 0">Nenhum equipamento cadastrado!</p>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>SETOR</th>
                <th>DATA</th>
                <th>OPERAÇÃO</th>
                <th>STATUS</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="equip in equipamentos track by $index">
                <td><a href="#/equipamento/{{equip.equip_id}}">{{equip.equip_id}}</a></td>
                <td><a href="#/equipamento/{{equip.equip_id}}">{{equip.equip_title}}</a></td>
                <td><a href="#/equipamento/{{equip.equip_id}}">{{equip.equip_sector}}</a></td>
                <td><a href="#/equipamento/{{equip.equip_id}}">{{equip.equip_date| dateBr}}</a></td>
                <td>
                    <a href="#/equipamento/{{equip.equip_id}}">
                        <span ng-class="(equip.equip_operation == '0' ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok')"></span>
                    </a>
                </td>
                <td>
                    <a href="#/equipamento/{{equip.equip_id}}">
                        <span ng-class="(equip.equip_status == '0' ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok')"></span>
                    </a>
                </td>
                <td>
                    <button class="btn btn-warning" ng-click="remover(equip)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Remover
                    </button>
                    <a href="#/equipamento/log/{{equip.equip_id}}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-wrench"></span>
                        Gerenciar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</section>