<section>
    <h1 class="text-muted">Registro de Manutenção <span class="small">{{log.equip.equip_title}}</span></h1>

    <form>

        <div class="row">
            <div class="form-group">
                <label>Descrição</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-tag"></span>
                    <input type="text" class="form-control" title="Descrição" 
                           name="log_content" ng-model="log.log_content" placeholder="Descrição"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Motivo</label>
                <select class="form-control" name="tipo_id" ng-model="log.tipo_id"
                        ng-options="tipo.tipo_id as tipo.tipo_title for tipo in tipos">
                    <option value="">SELECIONE UM MOTIVO</option>
                </select>
            </div>
        </div>

        <button class="btn btn-block btn-success" ng-click="save(log)">
            Salvar
        </button>
        <a href="#/equipamentos" class="btn btn-block btn-default">
            Voltar
        </a>

    </form>
</section>