
<div style="margin-top: 15px;">

    <div class="alert alert-danger" ng-show="registroForm.user_search.$dirty && !reg.user">
        Por Favor, Selecione um <b>usuário responsável</b>.
    </div>

    <div class="alert alert-danger" ng-show="registroForm.area_search.$dirty && !reg.area">
        Por Favor, Selecione um <b>setor responsável</b>.
    </div>

    <div class="alert alert-danger" ng-show="registroForm.$dirty && origemValid()">
        Por Favor, Selecione a <b>origem do evento</b> indesejado ou preencha o campo outros
    </div>

    <div ng-messages="registroForm.reg_descricao.$error">
        <div ng-message="required" class="alert alert-danger" ng-show="registroForm.reg_descricao.$dirty">
            Por Favor, Preencha o campo <b>descrição</b>.
        </div>

        <div ng-message="minlength" class="alert alert-danger">
            O campo <b>descrição</b> deve ter no mínimo 10 caracteres.
        </div>
    </div>

    <div ng-messages="registroForm.reg_correcao_imediata.$error">
        <div ng-message="required" class="alert alert-danger" ng-show="registroForm.reg_correcao_imediata.$dirty">
            Por Favor, Preencha o campo <b>correção imediata</b>.
        </div>

        <div ng-message="minlength" class="alert alert-danger">
            O campo <b>correção imediata</b> deve ter no mínimo 10 caracteres.
        </div>
    </div>


    <div ng-messages="registroForm.reg_user_correcao.$error">
        <div ng-message="required" class="alert alert-danger" ng-show="registroForm.reg_user_correcao.$dirty">
            Por Favor, Preencha o campo <b>responsável pela correção imediata</b>.
        </div>

        <div ng-message="minlength" class="alert alert-danger">
            O campo <b>Responsavel pela correção imediata</b> deve ter no mínimo 5 caracteres.
        </div>
    </div>

    <div ng-messages="registroForm.reg_date_correcao.$error">
        <div ng-message="required" class="alert alert-danger" ng-show="registroForm.reg_date_correcao.$dirty">
            Por Favor, Preencha o campo <b>data da correção imediata</b>.
        </div>

        <div ng-message="minlength" class="alert alert-danger">
            O campo <b>data da correção imediata</b> deve ter o formato <b>DD/MM/AAAA</b>.
        </div>
    </div>
</div>