<div class="jumbotron">
    <h1>Convênio</h1>
    <a href="#/home" class="btn btn-primary">HOME</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
    <a href="#/convenios" class="btn btn-warning">Convênios</a>
</div>

<form>

    <div class="form-group">
        <label>Titulo</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon glyphicon-tag"></span>
            <input type="text" class="form-control" placeholder="Titulo">
        </div>
    </div>

    <div class="form-group">
        <label>Subtitulo</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-tags"></span>
            <input type="text" class="form-control" placeholder="SubTitulo">
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label>Codigo</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-barcode"></span>
                    <input type="text" class="form-control" placeholder="Codigo">
                </div>
            </div>
            <div class="col-md-4">                
                <label>Data</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-calendar"></span>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <label>Post ID</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon glyphicon glyphicon-magnet"></span>
                    <input type="text" class="form-control" placeholder="Titulo da postagem">
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titulo da postagem</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Petrobras</td>
                        <td>http://teste</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>
    <a href="" class="btn btn-block btn-default">Novo</a>
    <input type="submit" class="btn btn-block btn-primary" value="Salvar"/>

</form>

<div ng-include="partials + '/footer.html'"></div>
