<div class="jumbotron">
    <h1>Convênios</h1>
    <a href="#/home" class="btn btn-primary">HOME</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
    <a href="#/convenio" class="btn btn-warning">Novo Convênio</a>
</div>

<div class="input-group col-md-4" style="float: right;">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui"/>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>COD</th>
            <th>Titulo</th>
            <th>SubTitulo</th>
            <th>Data criação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>500</td>
            <td>Aguia branca</td>
            <td>Aguia branca - Periodico</td>
            <td>05/08/2016</td>
        </tr>
    </tbody>
</table>

<div ng-include="partials + '/footer.html'"></div>