<div class="jumbotron">
    <h1>Convênios</h1>
    <a href="#/home" class="btn btn-primary">HOME</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
    <a href="#/convenio" class="btn btn-warning">Novo Convênio</a>
</div>

<div class="input-group col-md-4" style="float: right;">
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui" ng-model="search"/>
    <span class="input-group-addon glyphicon glyphicon-search"></span>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>COD</th>
            <th>Titulo</th>
            <th>SubTitulo</th>
            <th>Data criação</th>
            <th>Post</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody ng-if="!info.status">
        <tr ng-repeat="conv in convenios| filter:search track by conv.conv_id">
            <td><a href="#/convenio/{{conv.conv_id}}">{{::conv.conv_id}}</a></td>
            <td><a href="#/convenio/{{conv.conv_id}}">{{::conv.conv_code}}</a></td>
            <td><a href="#/convenio/{{conv.conv_id}}">{{::conv.conv_title}}</a></td>
            <td><a href="#/convenio/{{conv.conv_id}}">{{::conv.conv_describe}}</a></td>
            <td><a href="#/convenio/{{conv.conv_id}}">{{::conv.conv_date|dateBr}}</a></td>
            <td>
                <img ng-src="{{::carregaPost(conv.post_id)}}"/>
            </td>
            <td>
                <a href="" class="btn btn-success" ng-show="conv.conv_status == 1" ng-click="alterarStatus(conv)">Ativar</a>
                <a href="" class="btn btn-danger" ng-hide="conv.conv_status == 1" ng-click="alterarStatus(conv)">Desativar</a>
            </td>
        </tr>
    </tbody>
</table>
