<div class="row">
    <div class="row" style="width: 50%; background: blue; text-align: center; color: #FFF; margin-top: 5px;">
        50%
    </div>
    <div class="row" style="width: 30%; background: blue; text-align: center; color: #FFF; margin-top: 5px;">
        30%
    </div>
    <div class="row" style="width: 35%; background: blue; text-align: center; color: #FFF; margin-top: 5px;">
        35%
    </div>
    <div class="row" style="width: 75%; background: blue; text-align: center; color: #FFF; margin-top: 5px;">
        75%
    </div>
</div>