<div class="form-group">
            <label>Setor detectado:</label>
            <div ng-if="reg.disabled" style="padding: 7px; border: 1px solid #CCC">
                {{reg.area.area_content}}
            </div>

            <select class="form-control" name="area_recebimento" ng-model="reg.area_recebimento" ng-options="area.area_id as area.area_title for area in areas" ng-required="true" ng-if="!reg.disabled">
                <option value="">Selecione um setor</option>
            </select>
        </div>


<div>
    <div class="col-md-4 form-group" ng-show="!reg.disabled">
        <label>Encontre o setor</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" name="area_search" ng-model="area_search"/>
        </div>
    </div>

    <div class="col-md-8 form-group">
        <label>Aréa Resposável</label>
        <div class="form-control">
            {{reg.setor.area_title}}
        </div>
    </div>

    <table class="table table-hover table-striped table-responsive" ng-if="area_search">
        <thead>
            <tr>
                <th>Nome do setor</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="area in areas | filter:area_search | limitTo: 5">
                <td><a ng-click="addArea(area)">{{area.area_title}}</a></td>
            </tr>
        </tbody>
    </table>
</div>