/*
Folha de estilo para alterações especificas
*/
/* 
    Created on : 11/08/2015, 16:19:02
    Author     : Adriano
*/

/*404*/
.page_notfound header{text-align: center;}
.page_notfound .notfounerror{width: 400px; font-family: 'Baumans', cursive; color: #eee; font-size: 140px; text-align: center; display: block; margin: 0 auto;}
.page_notfound header h1{font-family: 'Baumans', cursive; font-size: 50px; color: #FF6A6A;}
.page_notfound header p{font-family: 'Baumans', cursive; font-size: 16px; color: #666;}

/*BODY*/
.semantica{font-size: 0;margin: 0; padding: 0;}
.title{text-transform: capitalize;}

.lateral{margin-top: 50px;}
.corpo{padding: 1%;margin: 0 20%;border: 1px solid #282827;border-radius: 10px;min-height: 800px;}
.btn-site{width: 200px;background: #d2daea;color: #2828eb;text-transform: uppercase;font-weight: bold;}
.nomargin{margin: 0;padding: 0;}
.header{margin-bottom: 10px;}
.menu li{margin-right: 3%; min-width: 110px; text-align: center}

/*DIVISORES*/
.divbloco{height: 10px; margin: 10px;}

/*BACKGROUND*/
.bg-color-branco{background: #fff;}
.bg-color-fundo{background: #d2daea;}
.bg-color-rosa{background: #f23dff;}
.bg-color-azul{background: #2828eb;}

/*NOTICIAS*/
.noticias {padding: 0 !important;margin: 0 !important;}
.noticias h1 {font-size: 1.4em; margin: 0 !important;}
.noticias p {font-size: 0.9em;}
.noticias time {font-size: 0.8em; color: #999;}


/*ARTIGOS*/
.artigos {text-align: center;}
.artigos header imagem {clear: both;}
.artigos header h1 {font-size: 2em; margin: 15px !important;color: #337cbb;}
.artigos p {font-size: 0.9em;}
.artigos time {font-size: 0.8em; color: #999;}
.artigos .relacionados {background-color: #54D8FF !important;color: #ffffff;}
.artigos .relacionados time{color: #000;}

/*AO IMPRIMIR*/
@media print{
    .no-print, .no-print *{display: none !important;}
    .print{display: block !important;}
    .print table{border: 2px solid #09f;}
}