<section class="jumbotron">
    <h1>Inconsistência</h1>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
</section>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<form ng-submit="save(inco)" name="incoForm">

    <div class="row">
        <div class="col-md-8">
            <div class="form-group" 
                 ng-class="{ 'has-error' : incoForm.inco_os.$invalid && !incoForm.inco_os.$pristine }">
                <label>Ordem de serviço</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                    <input type="text" class="form-control" placeholder="Ordem de serviço" 
                           name="inco_os" required ng-minlength="10" ng-model="inco.inco_os" ui-format-os>
                </div>
                <p ng-show="incoForm.inco_os.$error.required && !incoForm.inco_os.$pristine" class="help-block">
                    O número da OS é obrigatório
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </p>
                <p ng-show="incoForm.inco_os.$error.minlength" class="help-block">
                    Ordem de serviço deve ter no mínimo 10 caracteres
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <label>Status da guia</label>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary">
                    <input type="radio" ng-model="inco.inco_status" name="inco_status" value="OK" required>
                    OK
                </label>
                <label class="btn btn-primary">
                    <input type="radio" ng-model="inco.inco_status" name="inco_status" value="Aguardando" required>
                    Aguardando
                </label>
                <label class="btn btn-primary">
                    <input type="radio" ng-model="inco.inco_status" name="inco_status" value="DevDoc" required>
                    DevDoc
                </label>
            </div>
            <div class="form-group has-error">
                <p ng-show="incoForm.inco_status.$error.required" class="help-block">
                    Status não selecionado
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="form-group" 
         ng-class="{ 'has-error' : !inco.conv_id && !incoForm.search_conv.$pristine }">
        <label>Convênio</label>
        <div class="row">

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input name="search_conv" type="text" class="form-control" placeholder="encontre o convênio aqui" ng-model="search_conv">
                </div>
            </div>

            <div class="col-md-8">
                <span class="form-control">{{inco.conv.conv_title}}</span>
            </div>

            <p ng-show="!inco.conv_id && !incoForm.search_conv.$pristine" class="help-block">
                Ops, você esqueceu de selecionar o convênio
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </p>

            <table class="table table-hover" ng-show="search_conv">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Título</th>
                        <th>SubTitulo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="conv in convenios| filter:search_conv | limitTo:5 track by conv.conv_id">
                        <td><a href="" ng-click="addConvenio(conv)">{{::conv.conv_id}}</a></td>
                        <td><a href="" ng-click="addConvenio(conv)">{{::conv.conv_code}}</a></td>
                        <td><a href="" ng-click="addConvenio(conv)">{{::conv.conv_title}}</a></td>
                        <td><a href="" ng-click="addConvenio(conv)">{{::conv.conv_describe}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group" 
         ng-class="{ 'has-error' : !inco.postos_id && !incoForm.search_unid.$pristine }">
        <label>Unidade</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input name="search_unid" type="text" class="form-control" placeholder="encontre a unidade aqui" ng-model="search_unid">
                </div>
            </div>

            <div class="col-md-8">
                <span class="form-control">{{inco.unid.postos_nome}}</span>
            </div>

            <p ng-show="!inco.postos_id && !incoForm.search_unid.$pristine" class="help-block">
                Ops, você esqueceu de selecionar a unidade
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </p>

            <table class="table table-hover" ng-show="search_unid">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="posto in unidades| filter:search_unid | limitTo:5 track by posto.postos_id">
                        <td><a href="" ng-click="addUnidade(posto)">{{::posto.postos_id}}</a></td>
                        <td><a href="" ng-click="addUnidade(posto)">{{::posto.postos_numero}}</a></td>
                        <td><a href="" ng-click="addUnidade(posto)">{{::posto.postos_nome}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group" 
         ng-class="{ 'has-error' : !inco.aten_id && !incoForm.search_aten.$pristine }">
        <label>Atendente</label>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input name="search_aten" type="text" class="form-control" placeholder="encontre o atendente aqui" ng-model="search_aten">
                </div>
            </div>

            <div class="col-md-8">
                <span class="form-control">{{inco.aten.user_nickname}}</span>
            </div>

            <p ng-show="!inco.aten_id && !incoForm.search_aten.$pristine" class="help-block">
                Ops, você esqueceu de selecionar o atendente
                <span class="glyphicon glyphicon-exclamation-sign"></span>
            </p>

            <table class="table table-hover" ng-show="search_aten">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>USER</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>CAPA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aten in atendentes| filter:search_aten | limitTo:5 track by aten.user_id">
                        <td><a href="" ng-click="addAtendente(aten)">{{::aten.user_id}}</a></td>
                        <td><a href="" ng-click="addAtendente(aten)">{{::aten.user_nickname}}</a></td>
                        <td><a href="" ng-click="addAtendente(aten)">{{::aten.user_name}}</a></td>
                        <td><a href="" ng-click="addAtendente(aten)">{{::aten.user_lastname}}</a></td>
                        <td>
                            <a href="" ng-click="addAtendente(aten)">
                                <img ng-if="aten.user_cover" ng-src="{{carregaImg(aten.user_cover)}}"/>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error' : incoForm.ncon_id.$error.required}">
                <label>Não conformidade</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-exclamation-sign"></span>
                    <select class="form-control" ng-model="inco.ncon_id" name="ncon_id" required
                            ng-options="ncon.ncon_id as ncon.ncon_title +  ' - ' +  ncon.ncon_content for ncon in naoconformidades">
                        <option value="">Selecione uma não conformidade</option>
                    </select>
                </div>
                <p ng-show="incoForm.ncon_id.$error.required" class="help-block">
                    Selecione uma não conformidade
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group" 
                 ng-class="{ 'has-error' : incoForm.inco_value.$invalid && !incoForm.inco_value.$pristine }">
                <label>Valor da Guia</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-usd"></span>
                    <input name="inco_value" required type="text" class="form-control" ng-model="inco.inco_value" ui-number/>
                </div>
                <p ng-show="incoForm.inco_value.$invalid && !incoForm.inco_value.$pristine" class="help-block">
                    Valor da os não foi informado
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Observação</label>
        <textarea class="form-control" placeholder="observação" ng-model="inco.inco_obs" name="inco_obs"></textarea>
    </div>

    <hr>

    <a href="" class="btn btn-block btn-default" ng-click="novo()">Novo</a>
    <input type="submit" class="btn btn-block btn-primary" value="Salvar" 
           ng-disabled="incoForm.$invalid || !inco.aten_id || !inco.postos_id || !inco.conv_id"/>
</form>
