<section>
    <h1>Meta</h1>

    <form>

        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label>Cod</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                        <span class="form-control">{{meta.meta_id}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Titulo</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tag"></span>
                        <input type="text" class="form-control" title="Titulo" ng-model="meta.meta_title" name="meta_title" placeholder="Nome da meta"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Prazo</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-time"></span>
                        <input type="text" class="form-control" ng-model="meta.meta_prazo_max" name="meta_prazo_max" placeholder="Prazo"/>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tags"></span>
                        <input type="text" class="form-control" ng-model="meta.meta_content" name="meta_content" placeholder="Descrição"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="from-group">
                    <label>Data de ativação</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        <input type="text" class="form-control" ng-model="meta.meta_date" name="meta_date" placeholder="dd/mm/aaaa" ui-datebr/> 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="from-group">
                    <label>Validade</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                        <input type="text" class="form-control" ng-model="meta.meta_validade" name="meta_validade" placeholder="dd/mm/aaaa" ui-datebr/> 
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-6">
                    <label>Status</label>
                    <div class="clearfix"></div>
                    <button ng-show="meta.meta_status == '0'" class="btn btn-success glyphicon glyphicon-play" ng-click="isActive()" title="ativar"></button>
                    <button ng-hide="meta.meta_status == '0'" class="btn btn-danger glyphicon glyphicon-stop" ng-click="isActive()" title="desativar"></button>
                </div>
            </div>

            <div class="btn btn-group" style="width: 100%; margin-top: 15px;">
                <a href="" class="btn btn-block btn-primary" title="voltar"  ng-click="save(meta)">Salvar</a> 
                <a href="#metas" class="btn btn-block btn-default" title="voltar">Voltar</a> 
            </div>

        </div>

    </form>
</section>