<section class="jumbotron">
    <h1>Glosas</h1>
    <a href="#/glosa" class="btn btn-primary">Nova Glosa</a>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
</section>

<div class="input-group col-md-4" style="float: right;">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui"/>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>OS</th>
            <th>Atendente</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Não Conformidade</th>
            <th>Value</th>
            <th>Status</th>
            <th>Faturista</th>
        </tr>
    </thead>
    
    <tbody ng-if="!info.status">
        <tr>
            <td>data</td>
            <td>os</td>
            <td>aten</td>
            <td>unid</td>
            <td>conv</td>
            <td>ncon</td>
            <td>R$ 200</td>
            <td>statu</td>
            <td>fatur</td>
        </tr>
    </tbody>
</table>
