<section class="jumbotron">
    <h1>Glosas</h1>
    <a href="#/glosa" class="btn btn-success">Nova Glosa</a>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
    <a href="#/os-nao-pagas" class="btn btn-primary">Os Não pagas</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
</section>

<select ng-model="limit">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
    <option value="">Todos</option>
</select>

<div class="input-group col-md-4" style="float: right;">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui" ng-model="search"/>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>OS</th>
            <th>Atendente</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Não Conformidade</th>
            <th>Value</th>
            <th>Status</th>
            <th>Faturista</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="glosa in glosas |orderBy:glosa.glosa_date:true |filter:search |limitTo:limit track by glosa.glosa_id">
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.glosa_id}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.glosa_date|dateBr}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.glosa_os}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.aten.user_nickname}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.unid.postos_nome}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.conv.conv_title}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.ncon.ncon_title}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.glosa_value|currency}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.glosa_status}}</a></td>
            <td><a href="#/glosa/{{glosa.glosa_id}}">{{glosa.fatur.user_name}}</a></td>
            <td><button title="delete" ng-click="remover(glosa)" class="btn btn-warning glyphicon glyphicon-trash"></button></td>
        </tr>
    </tbody>
</table>
