<div class="jumbotron">
    <h1>Não conformidades</h1>
    <a href="#/home" class="btn btn-primary">HOME</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
    <a href="#/naoconformidade" class="btn btn-warning">Nova não conformidade</a>
</div>

<div class="input-group col-md-4" style="float: right;">
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui" ng-model="search"/>
    <span class="input-group-addon glyphicon glyphicon-search"></span>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Contéudo</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody ng-if="!info.status">
        <tr ng-repeat="ncon in naoconformidades| orderBy: ncon.ncon_date:true | filter:search track by ncon.ncon_id">
            <td><a href="#/naoconformidade/{{ncon.ncon_id}}">{{::ncon.ncon_id}}</a></td>
            <td><a href="#/naoconformidade/{{ncon.ncon_id}}">{{::ncon.ncon_title}}</a></td>
            <td><a href="#/naoconformidade/{{ncon.ncon_id}}">{{::ncon.ncon_content}}</a></td>
            <td><a href="#/naoconformidade/{{ncon.ncon_id}}">{{::ncon.ncon_date| dateBr}}</a></td>
            <td>
                <a class="btn btn-info" href="" ng-click="alterarStatus(ncon)" ng-show="ncon.ncon_status == 1">Ativar</a>
                <a class="btn btn-danger" href="" ng-click="alterarStatus(ncon)" ng-hide="ncon.ncon_status == 1">Desativar</a>
            </td>
        </tr>
    </tbody>
</table>
