<div class="jumbotron">
    <h1>Não conformidades</h1>
    <a href="#/home" class="btn btn-primary">HOME</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
    <a href="#/naoconformidade" class="btn btn-warning">Nova não conformidade</a>
</div>

<div class="input-group col-md-4" style="float: right;">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui"/>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Contéudo</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody ng-if="!info.status">
        <tr>
            <td>Numero do cartão</td>
            <td>Faltou ou errou o numero do cartão do cliente</td>
            <td>12/08/2016</td>
            <td>
                <a class="btn btn-info" href="" ng-click="" ng-if="true">Ativar</a>
                <a class="btn btn-danger" href="" ng-click="" ng-if="true">Desativar</a>
            </td>
        </tr>
    </tbody>
</table>
