<section class="jumbotron">
    <h1>Os Não Pagas</h1>
    <a href="#/os-nao-pagas/uploads" class="btn btn-success">Uploads Os Não pagas</a>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
    <a href="#/glosas" class="btn btn-primary">Glosas</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
</section>

<select ng-model="limit">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
    <option value="">Todos</option>
</select>

<div class="input-group col-md-4" style="float: right;">
    <input type="text" class="form-control" placeholder="encontre o que você procura aqui" ng-model="search"/>
    <span class="input-group-addon glyphicon glyphicon-search"></span>
</div>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>OS</th>
            <th>Nome do Paciente</th>
            <th>Data da OS</th>
            <th>Valor Total</th>
            <th>Valor Pago</th>
            <th>Valor Debito</th>
            <th>Unidade</th>
            <th>Atendente</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="part in particulares |orderBy:part.part_date:true |filter:search |limitTo:limit track by part.part_id">
            <td>{{::part.part_id}}</td>
            <td>{{::part.part_os}}</td>
            <td>{{::part.part_nm_paciente}}</td>
            <td>{{::part.part_date|dateBr}}</td>
            <td>{{::part.part_vl_liquido|currency}}</td>
            <td>{{::part.part_vl_pago|currency}}</td>
            <td>{{::part.part_vl_debito|currency}}</td>
            <td>{{::part.unid.postos_nome}}</td>
            <td>{{::part.aten.user_nickname}}</td>
        </tr>
    </tbody>
</table>