<section class="jumbotron">
    <h1>Os Não Pagas</h1>
    <a href="#/os-nao-pagas/uploads" class="btn btn-success">Uploads Os Não pagas</a>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
    <a href="#/glosas" class="btn btn-primary">Glosas</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
</section>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data</td>
        </tr>
    </tbody>
</table>