<section class="jumbotron">
    <h1>Os Não Pagas</h1>
    <a href="#/os-nao-pagas" class="btn btn-primary">Os Não pagas</a>
    <a href="#/inconsistencias" class="btn btn-primary">Inconsistências</a>
    <a href="#/glosas" class="btn btn-primary">Glosas</a>
    <a href="#/admin" class="btn btn-warning">Administrador</a>
</section>

<ui-alert ng-if="info.status" title="info.status" status="info.status">
    {{info.message}}
</ui-alert>

<div class="section" ng-hide='erros'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Uploads</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form ng-submit="submit()">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="file" file-model="arquivo">
                            <span class="input-group-btn">
                                <input class="btn btn-success" type="submit" value="Go" name="sendPostForm"/>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-show="erros">
    <a class="btn btn-default" href="" ng-click="voltar()">Voltar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>OS</th>
                <th>Data</th>
                <th>Paciente</th>
                <th>Valor Total</th>
                <th>Valor Pago</th>
                <th>Valor Debito</th>
                <th>ERROR</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="error in erros">
                <td>{{error.part_os}}</td>
                <td>{{error.part_date|timestampBr}}</td>
                <td>{{error.part_nm_paciente}}</td>
                <td>{{error.part_vl_liquido|currency}}</td>
                <td>{{error.part_vl_pago|currency}}</td>
                <td>{{error.part_vl_debito|currency}}</td>
                <td>{{error.error}}</td>
            </tr>
        </tbody>
    </table>
</div>